body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.timer-container {
    text-align: center;
}

#age-timer {
    font-size: 2em;
}
